html {
    font-size: 16px !important;
}

.Quizz{
    text-align: center;
    //background: linear-gradient(to top,#616161 0%,#000000 100%);
    //background: linear-gradient(to top,#01018e 0%,#01014c 100%);
    //background: linear-gradient(to top,#b72424 0%,#492727 100%);
    background: linear-gradient(to top,#2427b7 0%,#272949 100%);
    //background: radial-gradient(#b72424,#492727);
    min-height: 100vh;
    position: relative;
}