html {
    font-size: 16px !important;
}

.Quizz{
    text-align: center;
    background: linear-gradient(to top,#b72424 0%,#492727 100%);
    //background: radial-gradient(#b72424,#492727);
    min-height: 100vh;
    position: relative;
}